{% extends "base.html" %} {% block title %}Inventory - AARVA{% endblock %} {%
block header_center %} {% endblock %} {% block content %}
<form action="{{ url_for('inventory') }}" method="get" class="mt-5 mb-3">
    <div class="input-group">
        <input
            type="text"
            name="q"
            id="searchInput"
            class="form-control"
            placeholder="Search inventory..."
            value="{{ request.args.get('q', '') }}"
        />
        <button type="submit" class="btn btn-primary" onclick="search()">
            Search
        </button>
    </div>
</form>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% if items %}
<div class="table-responsive">
    <table
        class="table table-striped table-bordered align-middle"
        id="inventoryTable"
    >
        <thead class="table-dark">
            <tr>
                <th style="width: 80px">Image</th>
                <th>Item Name</th>
                <th>Location</th>
                <th class="text-center">Qty</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td class="text-center">
                    <img
                        src="{{ url_for('static', filename='imgs/' + (item.image if item.image else 'default.jpg')) }}"
                        alt="{{ item.name }}"
                        class="border rounded object-fit-contain"
                        style="width: 100px; height: 100px"
                    />
                </td>

                <td class="fw-bold">{{ item.name }}</td>
                <td class="text-primary">{{ item.location }}</td>
                <td class="text-center">{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="mt-4 text-muted">No inventory loaded.</p>
{% endif %} {% endblock %}
